### CONTENTS

- Machine Learning
- Types of ML
- Applications
- Steps in Machine Learning
- Simple Linear Regression

- Machine Learning
    - Arthur Samuel 1959
    - Field of study that gives the computers the ability to learn without being explicitly programmed

- data/input
                         Machine Learning                     build the pattern
- result/output

### Types of ML

- 3 types
    - Supervised Learning
    - Unsupervised Learning
    - Reinforcement Learning

- Supervised Learning
    - Both features and Labels are given to machine inorder to train
        - TYPES
            - Classification ---> target is descrete
            - Regression ---> target is continuous

- Unsupervised Learning
    - without knowing the label we train the data
- Reinforcement Learning
    - Advanced

#### Applications

- Speech Recognition
- Email spam filtering
- Self driving cars
- online fraud detection
- Recommended data

### Steps of ML

- 1.Get Data
- 2.Clean,Prepare and Manipulate data
- 3.Train Model
- 4.Test Data
- 5.Improve

### Regression

- Relationship b/w independent variable and dependent variable 

- 1.Simple Linear Regression
    - Simple-one dependent variable and one independent variable
    - Linear ---> Relationship is approx. using some st. line
    
    
    
    |                                                
    |                                               
    |         *
    |       *
    |     *
    |   *
    | *
    -----------------

    +ve lineared
    
    
    
    |                                                
    | *                                              
    |   *         
    |     *    
    |       *
    |          *
    |             *
    --------------------
    
    -ve lineared

### Simple Linear Regression

- 1 feature and 1 label

- Applications
    - Management
    - Engineering
    - Biological Sciences

### Import the data

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/AP-State-Skill-Development-Corporation/Datasets/master/Regression/salary.csv")
df.head()

,Unnamed: 0,District,Salary,Age,English,Education,Gender
0,0,Brooklyn,120000.0,31,Only language,Academic degree,Male
1,1,Brooklyn,45000.0,28,Only language,Academic degree,Female
2,2,Manhatten,85000.0,54,Only language,Academic degree,Male
3,3,Manhatten,12000.0,45,Only language,High school diploma,Female
4,4,Brooklyn,0.0,75,Very well,Academic degree,Female