### CONTENTS

- Elastic Net Regression

- Ridge---->add penalty(lambda)---->model performance will be low(doesn't make slopes to zero)
- Lasso---->removes unwanted features---->loss of

In [1]:
import pandas as pd
from sklearn.datasets import load_boston

In [5]:
boston = load_boston()
boston_df=pd.DataFrame(boston.data,columns=boston.feature_names)
boston_df["Target"]=boston.target
boston_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [6]:
boston_df.isna().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
Target     0
dtype: int64

In [7]:
x=boston_df[boston_df.columns[:-1]]
y=boston_df["Target"]
from sklearn.preprocessing import StandardScaler
scale=StandardScaler()
x_scale=scale.fit_transform(x)
x_scale

array([[-0.41978194,  0.28482986, -1.2879095 , ..., -1.45900038,
         0.44105193, -1.0755623 ],
       [-0.41733926, -0.48772236, -0.59338101, ..., -0.30309415,
         0.44105193, -0.49243937],
       [-0.41734159, -0.48772236, -0.59338101, ..., -0.30309415,
         0.39642699, -1.2087274 ],
       ...,
       [-0.41344658, -0.48772236,  0.11573841, ...,  1.17646583,
         0.44105193, -0.98304761],
       [-0.40776407, -0.48772236,  0.11573841, ...,  1.17646583,
         0.4032249 , -0.86530163],
       [-0.41500016, -0.48772236,  0.11573841, ...,  1.17646583,
         0.44105193, -0.66905833]])

In [8]:
help(load_boston)

Help on function load_boston in module sklearn.datasets._base:

load_boston(*, return_X_y=False)
    Load and return the boston house-prices dataset (regression).

    ==============   ==============
    Samples total               506
    Dimensionality               13
    Features         real, positive
    Targets           real 5. - 50.
    ==============   ==============

    Read more in the :ref:`User Guide <boston_dataset>`.

    Parameters
    ----------
    return_X_y : bool, default=False.
        If True, returns ``(data, target)`` instead of a Bunch object.
        See below for more information about the `data` and `target` object.

        .. versionadded:: 0.18

    Returns
    -------
    data : :class:`~sklearn.utils.Bunch`
        Dictionary-like object, with the following attributes.

        data : ndarray of shape (506, 13)
            The data matrix.
        target : ndarray of shape (506, )
            The regression target.
        filename : str
            The physical location of boston csv dataset.

            .. versionadded:: 0.20

        DESCR : str
            The full description of the dataset.
        feature_names : ndarray
            The names of features

    (data, target) : tuple if ``return_X_y`` is True

        .. versionadded:: 0.18

    Notes
    -----
        .. versionchanged:: 0.20
            Fixed a wrong data point at [445, 0].

    Examples
    --------
    >>> from sklearn.datasets import load_boston
    >>> X, y = load_boston(return_X_y=True)
    >>> print(X.shape)
    (506, 13)

In [9]:
import pandas as pd
df = pd.read_csv("insurance.csv")
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [10]:
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [11]:
df.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [12]:
df.shape

(1338, 7)

In [13]:
x = df[["age"]]
y = df["charges"]

In [14]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x,y)

LinearRegression()

In [15]:
model.score(x,y)*10

0.8940589967885804

### MULTI LINEAR REGRESSION

In [16]:
df.replace('female',0,inplace=True)
df.replace('male',1,inplace=True)

In [17]:
df.replace('yes',0,inplace=True)
df.replace('no',1,inplace=True)

In [18]:
df.replace('southwest',0,inplace=True)
df.replace('southeast',1,inplace=True)
df.replace('northwest',0,inplace=True)
df.replace('northeast',1,inplace=True)

In [19]:
df

      age  sex     bmi  children  smoker  region      charges
0      19    0  27.900         0       0       0  16884.92400
1      18    1  33.770         1       1       1   1725.55230
2      28    1  33.000         3       1       1   4449.46200
3      33    1  22.705         0       1       0  21984.47061
4      32    1  28.880         0       1       0   3866.85520
...   ...  ...     ...       ...     ...     ...          ...
1333   50    1  30.970         3       1       0  10600.54830
1334   18    0  31.920         0       1       1   2205.98080
1335   18    0  36.850         0       1       1   1629.83350
1336   21    0  25.800         0       1       0   2007.94500
1337   61    0  29.070         0       0       0  29141.36030

[1338 rows x 7 columns]

In [20]:
x = df.iloc[:,:7]
y = df["charges"]

In [21]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size=0.6,random_state=400)

In [22]:
from sklearn.linear_model import LinearRegression
model1 = LinearRegression()
model1.fit(x_train,y_train)

LinearRegression()

In [23]:
y_pred = model1.predict(x_test)
y_pred

array([ 3597.596  ,  6198.7518 ,  9288.0267 , 48173.361  , 14235.072  ,
       35491.64   ,  9377.9047 , 11658.11505,  9625.92   ,  1743.214  ,
        8428.0693 ,  7537.1639 , 13919.8229 , 43254.41795,  7512.267  ,
        8827.2099 , 11165.41765,  7729.64575,  6858.4796 , 12032.326  ,
       18259.216  , 39836.519  ,  1705.6245 , 11488.31695, 11289.10925,
        5415.6612 ,  3227.1211 , 40103.89   , 36085.219  ,  8601.3293 ,
        4686.3887 , 15828.82173, 48673.5588 ,  4618.0799 , 19515.5416 ,
        8026.6666 ,  1967.0227 , 12269.68865,  2566.4707 , 23306.547  ,
       17128.42608, 30166.61817, 12638.195  ,  3577.999  ,  6500.2359 ,
       38792.6856 ,  7152.6714 ,  1984.4533 ,  1880.07   ,  4500.33925,
       34166.273  , 14210.53595, 16796.41194,  9863.4718 ,  6664.68595,
        4529.477  ,  9880.068  , 12333.828  ,  8410.04685, 13747.87235,
       11743.9341 , 34672.1472 , 20745.9891 , 12485.8009 , 40003.33225,
        2897.3235 ,  2156.7518 ,  7173.35995,  5594.8455 ,  7804.1605 ,
        1141.4451 , 21082.16   ,  4441.21315, 30184.9367 , 21978.6769 ,
       12105.32   , 14394.39815, 21344.8467 ,  6571.544  ,  6184.2994 ,
        7196.867  ,  7749.1564 ,  4719.52405, 11848.141  ,  1969.614  ,
        8823.279  , 12829.4551 ,  7345.7266 , 37742.5757 , 11879.10405,
       44585.45587, 17878.90068,  6948.7008 ,  4340.4409 , 34838.873  ,
       26236.57997, 37270.1512 ,  3201.24515, 10577.087  ,  1391.5287 ,
       47055.5321 , 14043.4767 ,  5028.1466 , 16115.3045 , 48970.2476 ,
        2200.83085,  6770.1925 , 11743.299  ,  3062.50825, 40419.0191 ,
       14283.4594 ,  2217.6012 , 22493.65964, 11013.7119 ,  6373.55735,
       19214.70553, 10791.96   ,  2166.732  ,  9715.841  ,  9566.9909 ,
       13352.0998 ,  6474.013  ,  7441.053  , 34617.84065,  6203.90175,
       12244.531  , 17748.5062 , 35069.37452, 13204.28565,  5400.9805 ,
        3268.84665, 28101.33305, 11345.519  ,  1720.3537 ,  1532.4697 ,
        3366.6697 , 12646.207  ,  3877.30425, 21677.28345,  4239.89265,
       14382.70905, 10959.33   ,  2136.88225, 12323.936  , 12644.589  ,
       39727.614  , 38709.176  , 11090.7178 ,  1837.237  , 20234.85475,
       14394.5579 , 13112.6048 ,  4877.98105, 18223.4512 ,  8615.3    ,
        8280.6227 ,  8527.532  , 17361.7661 ,  5934.3798 ,  2755.02095,
        4934.705  , 27322.73386, 41949.2441 ,  8782.469  ,  8334.45755,
       13228.84695,  5699.8375 ,  9249.4952 , 13451.122  , 46718.16325,
        2850.68375, 11552.904  ,  2842.76075, 11944.59435,  7624.63   ,
        7345.084  , 22144.032  , 13012.20865, 25992.82104, 10264.4421 ,
        2483.736  ,  4504.6624 , 23568.272  , 13462.52   ,  4667.60765,
       30284.64294, 12643.3778 , 12957.118  ,  4931.647  ,  1728.897  ,
       40273.6455 ,  2154.361  , 23082.95533,  5124.1887 , 18963.17192,
       11830.6072 , 10085.846  , 10806.839  ,  5469.0066 ,  4687.797  ,
        5757.41345,  4751.07   , 30063.58055,  2416.955  ,  6748.5912 ,
       46889.2612 ,  1694.7964 ,  4779.6023 , 25309.489  ,  2497.0383 ,
       35160.13457,  4149.736  , 11881.9696 ,  3861.20965, 38126.2465 ,
       47896.79135,  6837.3687 , 43896.3763 , 13607.36875, 11938.25595,
        9432.9253 , 21259.37795, 21348.706  , 48675.5177 , 25081.76784,
       13470.86   , 11299.343  ,  5729.0053 ,  1748.774  ,  4074.4537 ,
       13457.9608 ,  6877.9801 , 12648.7034 , 16776.30405,  6610.1097 ,
       11520.09985,  4357.04365, 40974.1649 , 17179.522  ,  8891.1395 ,
        3208.787  ,  4040.55825,  3537.703  , 23045.56616, 22192.43711,
        1137.4697 ,  3277.161  , 12044.342  , 18033.9679 , 12981.3457 ,
       13429.0354 , 16232.847  ,  4466.6214 ,  1163.4627 ,  5116.5004 ,
        5484.4673 ,  6940.90985, 10197.7722 ,  1719.4363 , 19594.80965,
        3935.1799 , 42560.4304 , 11436.73815, 22218.1149 ,  2459.7201 ,
        1632.03625,  2480.9791 ,  9144.565  , 11674.13   , 19144.57652,
       19964.7463 , 42760.5022 ,  6282.235  , 11763.0009 , 37079.372  ,
        6457.8434 ,  4005.4225 ,  4894.7533 , 11381.3254 ,  4463.2051 ,
       41999.52   , 39556.4945 ,  8116.26885,  3392.3652 , 15817.9857 ,
        7640.3092 ,  2727.3951 ,  7337.748  ,  3704.3545 , 12268.63225,
       11946.6259 ,  5926.846  , 11362.755  ,  6640.54485,  9301.89355,
        3579.8287 ,  2927.0647 ,  3972.9247 ,  8233.0975 ,  6849.026  ,
       11735.87905, 46255.1125 ,  9541.69555, 12523.6048 ,  1664.9996 ,
        2585.269  , 12629.1656 ,  4949.7587 , 20149.3229 ,  9877.6077 ,
        1253.936  ,  6117.4945 ,  7358.17565, 10065.413  , 39871.7043 ,
        3176.8159 , 13041.921  , 19199.944  ,  1727.54   ,  2203.73595,
       28950.4692 ,  1625.43375,  3866.8552 ,  4762.329  , 46599.1084 ,
        2719.27975,  8515.7587 ,  8116.68   ,  3353.4703 ,  2198.18985,
       33732.6867 ,  9222.4026 , 48517.56315, 27533.9129 , 12096.6512 ,
       21595.38229, 12231.6136 , 17043.3414 ,  4234.927  ,  7151.092  ,
        5257.50795,  6555.07035,  2221.56445, 32548.3405 , 16085.1275 ,
       13129.60345, 25333.33284,  2643.2685 ,  5253.524  , 11070.535  ,
       12982.8747 ,  2867.1196 ,  2721.3208 , 13844.506  , 18608.262  ,
        2352.96845,  8334.5896 ,  5002.7827 , 10156.7832 , 24869.8368 ,
        3309.7926 , 12629.8967 , 10493.9458 , 24915.22085, 18806.14547,
        5969.723  ,  1261.859  ,  8930.93455,  3756.6216 , 18972.495  ,
        2741.948  , 11326.71487,  7740.337  , 27724.28875, 26125.67477,
       44641.1974 ,  3857.75925,  2117.33885,  1986.9334 ,  8442.667  ,
        1725.5523 , 10096.97   ,  1263.249  , 17904.52705,  4571.41305,
        1964.78   ,  8932.084  , 13224.693  ,  4462.7218 ,  1146.7966 ,
        6985.50695, 10355.641  , 28287.89766, 36898.73308,  6406.4107 ,
       11264.541  ,  1815.8759 ,  6571.02435,  2103.08   , 14007.222  ,
        9182.17   , 11945.1327 ,  5227.98875, 19444.2658 ,  8835.26495,
        2464.6188 , 11884.04858,  8823.98575,  4428.88785,  6313.759  ,
        4433.9159 , 10601.63225,  6548.19505,  2699.56835, 10381.4787 ,
       11363.2832 ,  8569.8618 , 27346.04207,  5261.46945,  5989.52365,
        2803.69785, 37607.5277 ,  4320.41085,  3171.6149 , 47269.854  ,
        7153.5539 , 39611.7577 ,  5003.853  ,  2710.82855, 13770.0979 ,
       47462.894  ,  5354.07465,  2523.1695 , 11253.421  , 17626.23951,
       44400.4064 , 14711.7438 , 27941.28758, 13390.559  ,  4915.05985,
        6393.60345,  4185.0979 , 14349.8544 ,  9620.3307 ,  9095.06825,
        9193.8385 ,  9800.8882 ,  6781.3542 , 12363.547  ,  2730.10785,
       19521.9682 ,  2331.519  , 26392.26029,  2395.17155,  3659.346  ,
        4137.5227 , 11554.2236 ,  3556.9223 ,  8627.5411 , 10796.35025,
        2498.4144 , 13143.86485, 13887.9685 ,  8068.185  ,  2438.0552 ,
       13217.0945 , 21472.4788 , 14358.36437,  8023.13545,  9140.951  ,
       11272.33139, 10600.5483 , 10141.1362 ,  7222.78625, 13019.16105,
        3206.49135,  8516.829  , 10825.2537 , 62592.87309, 34828.654  ,
       16657.71745, 36149.4835 ,  3056.3881 , 41097.16175,  9282.4806 ,
       14478.33015,  4518.82625, 10560.4917 , 14119.62   ,  3906.127  ,
       12574.049  , 39983.42595,  9174.13565, 51194.55914,  7448.40395,
        7935.29115, 47496.49445, 42124.5153 ,  4433.3877 ,  3757.8448 ,
        4189.1131 , 28468.91901,  4747.0529 , 11163.568  ,  3077.0955 ,
       20462.99766, 38245.59327,  4738.2682 , 45702.02235,  6796.86325,
        1880.487  , 46661.4424 ,  3766.8838 ,  7160.3303 ,  4922.9159 ,
        4766.022  ,  5375.038  , 19933.458  ,  1632.56445,  4032.2407 ,
        7526.70645,  1917.3184 ,  9411.005  ,  6799.458  , 39597.4072 ,
       21232.18226, 12495.29085, 11737.84884,  1631.8212 , 33307.5508 ,
       39722.7462 , 36837.467  , 11286.5387 ,  3594.17085,  3410.324  ,
        9875.6804 ])

In [24]:
model1.score(x_train,y_train)*100

100.0

In [25]:
model1.score(x_test,y_test)

1.0

### Polynomial Regression

In [29]:
from sklearn.preprocessing import PolynomialFeatures
poly=PolynomialFeatures(degree=8)
x_poly=poly.fit_transform(x)
model=LinearRegression()
model.fit(x_poly,y)
y_pred=model.predict(x_poly)

In [30]:

r2_score(y,y_pred)*100

94.03122858316338