### CONTENTS
- Dictionary 
  - Accessing the elements
  - Dictionary Methods
- Set
   - Set Methods

### Dictionary

- It is used to store non-homogeneous group of data in key: value pair

#### Properties

- It is used to store in key:value in'{}'
- It is iterative
- Ordered
   - Python 3.6 is unordered
   - Python 3.6+ is ordered
- Key should be unique and it is immutable

In [1]:
d1 = {}
d2 = dict()

print(type(d1),type(d2))

<class 'dict'> <class 'dict'>

In [2]:
d1 = {'RollNo' : [501,202,503,504,505,506]}
d1

{'RollNo': [501, 202, 503, 504, 505, 506]}

In [13]:
d1 = {'1234567890' : ['Java','Vijayawada','01/01/2000','9876543210'],
     '9876543210':['Python','Earth','01/01/2000','1234567890'],
     '12345678900':['C','Visakhapatnam','01/01/2000','223344556688']}
d1

{'1234567890': ['Java', 'Vijayawada', '01/01/2000', '9876543210'],
 '9876543210': ['Python', 'Earth', '01/01/2000', '1234567890'],
 '12345678900': ['C', 'Visakhapatnam', '01/01/2000', '223344556688']}

In [14]:
# key ---> only use immutable data type
d2 = {(1,2,3):'Python'}
print(d2)

{(1, 2, 3): 'Python'}

In [15]:
#List is mutable so can't be used
d2 = {[1,2,3]:'Python'}
print(d2)

TypeError: unhashable type: 'list'

### Accessing the pairs from the dict

In [16]:
print(d1)

{'1234567890': ['Java', 'Vijayawada', '01/01/2000', '9876543210'], '9876543210': ['Python', 'Earth', '01/01/2000', '1234567890'], '12345678900': ['C', 'Visakhapatnam', '01/01/2000', '223344556688']}

In [10]:
print(d1['1234567890'])

['C', 'Visakhapatnam', '01/01/2000', '223344556688']

In [17]:
d1['12345678900'] = ['C++','Visakhapatnam','01/01/2000','9988776655']

In [18]:
print(d1)

{'1234567890': ['Java', 'Vijayawada', '01/01/2000', '9876543210'], '9876543210': ['Python', 'Earth', '01/01/2000', '1234567890'], '12345678900': ['C++', 'Visakhapatnam', '01/01/2000', '9988776655']}

In [ ]:
d1['']

### DICTIONARY METHODS

In [19]:
print(d1)

{'1234567890': ['Java', 'Vijayawada', '01/01/2000', '9876543210'], '9876543210': ['Python', 'Earth', '01/01/2000', '1234567890'], '12345678900': ['C++', 'Visakhapatnam', '01/01/2000', '9988776655']}

In [20]:
print(d1.keys())

dict_keys(['1234567890', '9876543210', '12345678900'])

In [21]:
print(d1.values())

dict_values([['Java', 'Vijayawada', '01/01/2000', '9876543210'], ['Python', 'Earth', '01/01/2000', '1234567890'], ['C++', 'Visakhapatnam', '01/01/2000', '9988776655']])

In [23]:
print(d1.items())

dict_items([('1234567890', ['Java', 'Vijayawada', '01/01/2000', '9876543210']), ('9876543210', ['Python', 'Earth', '01/01/2000', '1234567890']), ('12345678900', ['C++', 'Visakhapatnam', '01/01/2000', '9988776655'])])

In [25]:
print(d1.get('567'))

None

In [30]:
print(d1.get('567','Key not available'))

Key not available

In [29]:
print(d1.get('1234567890','Key not available'))

['Java', 'Vijayawada', '01/01/2000', '9876543210']

In [36]:
sq = {}
for i in range(1,101):
    sq[i] = i**2
print(sq)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400, 21: 441, 22: 484, 23: 529, 24: 576, 25: 625, 26: 676, 27: 729, 28: 784, 29: 841, 30: 900, 31: 961, 32: 1024, 33: 1089, 34: 1156, 35: 1225, 36: 1296, 37: 1369, 38: 1444, 39: 1521, 40: 1600, 41: 1681, 42: 1764, 43: 1849, 44: 1936, 45: 2025, 46: 2116, 47: 2209, 48: 2304, 49: 2401, 50: 2500, 51: 2601, 52: 2704, 53: 2809, 54: 2916, 55: 3025, 56: 3136, 57: 3249, 58: 3364, 59: 3481, 60: 3600, 61: 3721, 62: 3844, 63: 3969, 64: 4096, 65: 4225, 66: 4356, 67: 4489, 68: 4624, 69: 4761, 70: 4900, 71: 5041, 72: 5184, 73: 5329, 74: 5476, 75: 5625, 76: 5776, 77: 5929, 78: 6084, 79: 6241, 80: 6400, 81: 6561, 82: 6724, 83: 6889, 84: 7056, 85: 7225, 86: 7396, 87: 7569, 88: 7744, 89: 7921, 90: 8100, 91: 8281, 92: 8464, 93: 8649, 94: 8836, 95: 9025, 96: 9216, 97: 9409, 98: 9604, 99: 9801, 100: 10000}

In [37]:
sq = {}
for i in range(1,101):
    if i%2==0:
        sq[i] = i**2
print(sq)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 12: 144, 14: 196, 16: 256, 18: 324, 20: 400, 22: 484, 24: 576, 26: 676, 28: 784, 30: 900, 32: 1024, 34: 1156, 36: 1296, 38: 1444, 40: 1600, 42: 1764, 44: 1936, 46: 2116, 48: 2304, 50: 2500, 52: 2704, 54: 2916, 56: 3136, 58: 3364, 60: 3600, 62: 3844, 64: 4096, 66: 4356, 68: 4624, 70: 4900, 72: 5184, 74: 5476, 76: 5776, 78: 6084, 80: 6400, 82: 6724, 84: 7056, 86: 7396, 88: 7744, 90: 8100, 92: 8464, 94: 8836, 96: 9216, 98: 9604, 100: 10000}

In [38]:
for key in sq:
    if key%2==0:
        print(sq[key],end=" ")

4 16 36 64 100 144 196 256 324 400 484 576 676 784 900 1024 1156 1296 1444 1600 1764 1936 2116 2304 2500 2704 2916 3136 3364 3600 3844 4096 4356 4624 4900 5184 5476 5776 6084 6400 6724 7056 7396 7744 8100 8464 8836 9216 9604 10000

In [39]:
# freq of each char in a string
# word count

### Contact Application

- 1.Create a contact ->key->value
- 2.add the contact to existing contact key->value
- 3.Edit the contact key->value
- 4.Delete contact -> Name

In [45]:
option = input("""Press the options :
1.Create a contact 
2.add the contact to existing contact 
3.Edit the contact 
4.Delete contact
""")

Press the options :
1.Create a contact
2.add the contact to existing contact
3.Edit the contact
4.Delete contact
1

In [46]:
contact = {}
if option==1:
    key = input("Enter Contact Name :")
    value = input("Enter details with space sep").split()
    contact[key] = value

In [47]:
if option == 2:
    name = input("Enter the name to add ")
    if name in contact:
        data = input("Enter the data to update").split()
        contact[name].extend(data)
    else:
        print(name,"contact is not available")

In [41]:
contact={}
def add_contact(name,num):
    if name in contact:
        print(name,"already exists")
    else:
        contact[name]=num
        print('contact',name,'added')
add_contact('Sravani',9381818202)
def del_contact(name):
    if name in contact:
        contact.pop(name)
        print('contact',name,'deleted')

def search_contact(name):
    if name in contact:
        print(name,contact[name],sep=":")
    else:
        print("contact doesn't exist")

def edit_contact(name):
    if name in contact:
        print(contact[name])
        num=int(input('new number:'))
        contact[name]=num
        print('contact updated')

contact Sravani added