### CONTENTS
- Input and Output
- Variables
- Operators
- Type Conversions
- Operators in Python

In [1]:
print("Hello World")

Hello World

In [2]:
print("Todays date is",29)

Todays date is 29

In [3]:
print("Todays date is",29,sep = '-')

Todays date is-29

In [4]:
print(1,2,3,4,5,6,sep='\t')

1	2	3	4	5	6

In [5]:
print(1,2,3,4,5,6,sep='abc')

1abc2abc3abc4abc5abc6

In [6]:
print("Hello World")
print("Hello World")
print("Hello World")

Hello World
Hello World
Hello World

### VARIABLE

- it is named memory location which hold some value

### Properties
- It can contain AZaz09_
- It shouldn't start with a number
- No special characters should included in variable name except _
- Keywords are not allowed
- Case Sensitive

## DATA TYPES
- Primary data types
  - int
  - float
  - complex
  - string
  - boolean
- Secondary
   - containers --> List tuple Dictionary set

In [1]:
a = 55
b = 55.66
c = 5 + 6j
d = True
e = 'a+5/.,;'
f = ['python', 65, 5+6j, 55.665]
g = ('python', 65, 5+6j, 55.665)
h = {'Name': 'Python'}
i = {1,2,3,4}

In [2]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))
print(type(i))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

### Type Conversions

In [3]:
a = int(input())
print(a, type(a))

6
6 <class 'int'>

In [4]:
# int can't be converted to float
b = int(input())
print(b,type(b))

12.5

ValueError: invalid literal for int() with base 10: '12.5'

In [6]:
b = float(input())
print(b,type(b))

12
12.0 <class 'float'>

### Number System

- Decimal -> 10 -> 0-9
- Binary -> 2 -> 0,1
- Octal -> 8 -> 0-7
- Hexadecimal -> 16 -> 0-F

In [7]:
a = 55

print(bin(a), oct(a), hex(a))

0b110111 0o67 0x37

In [8]:
print(int('110111', 2), int('67', 8), int('37', 16))

55 55 55

In [9]:
print(ord('a'))
print(chr(97))

97
a

### Opertaors in Python

- Arthematic Operator -> +, -, *, /, %, //, **
- Logical -> and, or, not
- Comparision/relational -> <, >, <=, >=, ==, !=
- Bitwise Operator -> &(and), |(or), ~(Not), ^(XOR), >>(right shift), <<(left shift)
- Assignment Operator -> +=, -=, /=, %=, //=, **=
- Identity operators -> is, not is
- Membership operators -> in, not in

In [10]:
# Arithmetic Opertors

a = 4
b = 10


print(a+b, a-b, a*b, a/b, a % b, a//b, a ** 2, sep = '->')

14->-6->40->0.4->4->0->16

- AND(INP1 * INP2)

|inp1|inp2|inp1 and inp2|
|----|-----|-------|
|T|T|T|
|T|F|F|
|F|T|F|
|F|F|F|

- OR(INP1 + INP2)

|inp1|inp2|inp1 or inp2|
|----|-----|-------|
|T|T|T|
|T|F|T|
|F|T|T|
|F|F|F|

- NOT

|inp1|not inp1|
|----|----|
|T|F|
|F|T|

In [11]:
a = 1
b = 0
c = '0'

print(a and b, a or b, not a, a and c, type(a and c), not c, sep = '->')

0->1->False->0-><class 'str'>->False

In [13]:
a = 5
b = 6
c = 0

print(a and b)

print(a and c, c and a)

6
0 0

In [14]:
### COMPARISON OPERATORS
a = 5
b = 6

print(a < b, a>b, a == b)

True False False

### BITWISE OPERATORS
- &, |, ~, ^
  - a = 4
  - b = 10


- ~a
- 4  -> 0100 # Convert to Binary
      - 0001 # Add 1 
      - -0101 -> *5

In [15]:
a = 4
b = 10

print(a & b, a | b, ~a)

0 14 -5


- XOR -> A'B + AB'


|A|B|A xor B|
|----|-----|-------|
|T|T|T|
|T|F|T|
|F|T|T|
|F|F|F|


- a = 4  -> 0100
  b = 10 -> 1010
            _____
            1110 -> 14

In [16]:

print(a ^ b)

14

### Left Shift and right shift
a = 4 -> 0100

a << 2 -> 010000 -> 16

a << 2 -> 0001 -> 1

In [17]:
a = 4

print( a << 2, a >> 2)

16 1

### ASSIGNMENT OPERTORS

In [19]:

a = 5

a = a + 10
print(a)
a += 10
print(a)
a -= 5
print(a)
a **= 2
print(a)

15
25
20
400

### MEMBERSHIP OPERATORS

In [20]:
a = 'Python'
b = 'Py'
c = 'py'

print(a in b, a in c, a not in c)

False False True

### IDENTITY OPERATORS

In [21]:
a = 5
b = 5.5
c = 5
d = [1,2,3]
e = [1,2,3]
f = d

In [23]:
print(id(a))
print(id(c))
print(id(d))
print(id(e))
print(id(f))

140733743773600
140733743773600
2144239856512
2144239845120
2144239856512

In [25]:
print(d,e,f)
print(d is e, d is f, e is f, d is not e)

[1, 2, 3, 'Python'] [1, 2, 3] [1, 2, 3, 'Python']
False True False True